.task15 {
    width: 300px;
    height: 300px;
    border: 2px solid;
}
.task16 {
    width: 300px;
    height: 300px;
    border: 2px solid;
}
.task17 {
    width: 300px;
    height: 300px;
    border: 2px solid;
}
.task18 {
    width: 300px;
    height: 300px;
    border: 2px solid;
}
.task19 {
    width: 300px;
    height: 300px;
    border: 2px solid;
}
.go {
    width: 100px;
    height: 100px;
    border: 2px solid;
}