section {
    padding: 20px;
    border-bottom: 2px solid #000;
}

.out-12 {
    height: 300px;
    width: 260px;
    display: flex;
    flex-wrap: wrap;
}

.black {
    width: 30px;
    height: 30px;
    background: black;
}
.white {
    width: 30px;
    height: 30px;
    background: white;
}